<!-- <input #code placeholder="code"> -->
<div class="inputs">
  <input class="descripinput" #descrip id="addcard" type="text" placeholder="description"
  [formControl]="queryField"
  [ngbTypeahead]="search"
  (keyup.enter)=captureCode(queryField.value,zip.value)/>
  <input #zip class="zipinput"  placeholder="zip">

<button class="submit btn btn-info"  (click)=captureCode(descrip.value,zip.value)>Submit</button>
</div>
<div class="input-group col-3">
  

</div>
<a *ngFor="let price of prices" >
    <div class="card text-center"style="width: 40rem; margin:0 auto;">
        <div class="card border-danger " style="max-width: 40rem;">
      <div class="module blog">
        
        
          <h5 class="card-title">{{price.hosp.namehosp}}</h5>
          <h5 class="card-title"></h5>
          <h5 class="card-title">{{price.hosp.zip}}</h5>
          <p class="card-text">{{price.proc.descrip}}</p>
          <p class="card-text">${{price.price}}</p>
          
        </div>
      </div>
    </div>
  